.contacto {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title {
  font-weight: 900;
  font-size: 2.3rem;
  margin-bottom: 20px;
}
.parrafo {
  width: 50%;
  text-align: center;
}
.boton-form a {
  padding: 0 5px;
  text-decoration: none;
  color: var(--oscuro);
  font-weight: 500;
  background-color: #25d366;
  border-radius: 10px;
}

.boton-form a:hover {
  color: var(--gris-claro);
  background-color: var(--verde);
}

.container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  padding: 40px;
  border-radius: 20px;
  width: 45%;
  border: 3px solid;
}
label {
  font-size: 0.8rem;
  font-weight: 500;
  padding-bottom: 10px;
}
input,
textarea,
button {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  border: none;
}

button {
  background-color: var(--verde);
  color: var(--blanco);
  border-radius: 8px;
}
button:hover {
  background-color: var(--rojo);
  color: var(--blanco);
}
button:active {
  background-color: var(--azul);
  color: var(--blanco);
}

.message {
  margin-top: 10px;
  width: 80%;
  position: relative;
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10px;
}
.message .success {
  font-size: 20px;
  color: green;
  position: absolute;
  animation: buttons 0.3s linear;
  display: none;
}
.message .danger {
  font-size: 0.8rem;
  color: var(--rojo);
  position: absolute;
  transition: 0.3s;
  animation: buttons 0.3s linear;
  display: none;
}
@media screen and (max-width: 800px) {
  .parrafo {
    width: 80%;
  }
  .container {
    width: 80%;
    padding: 20px;
    margin-bottom: 10px;
  }
  .message {
    width: 80%;
  }
}
