.contenedor {
  margin-top: 100px;
  margin-bottom: 40px;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(2, 600px);
  grid-template-rows: repeat(4, auto);
  gap: 5px;
}
.breadcrumbs,
.breadcrumbs_link {
  font-size: 0.65rem;
  text-transform: uppercase;
  color: gray;
  padding-bottom: 20px;
  grid-row-start: 1;
}
.breadcrumbs_link:visited {
  color: gray;
}
.bold_breadcrumb {
  color: #4b4b4b;
}
.descripcion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 2;
}
.portada {
  background-color: #808080;
  object-fit: cover;
  width: 100%;
  max-width: 1200px;
  height: 800px;
  grid-column-start: 1;
  grid-column-end: -1;
}
.galeria {
  width: 600px;
  background-color: gray;
  height: 600px;
  object-fit: cover;
}

.titulo {
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
}
.subtitulo {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 0.7rem;
  font-weight: 600;
  font-style: italic;
  text-transform: uppercase;
}

.info_del_proyecto {
  padding-bottom: 35px;
}
.nota {
  padding-bottom: 35px;
  font-size: 0.7rem;
}

@media (min-width: 501px) and (max-width: 900px) {
  .contenedor {
    grid-template-columns: repeat(1, 400px);
    grid-template-rows: repeat(10, auto);
    gap: 5px;
  }
  .portada {
    object-fit: cover;
    height: 400px;
    width: 400px;
  }
  .galeria {
    height: 400px;
    width: 400px;
  }
  .descripcion {
    width: 400px;
  }

  .titulo {
    font-size: 2rem;
  }
}

@media screen and (max-width: 500px) {
  .contenedor {
    grid-template-columns: repeat(1, 290px);
    grid-template-rows: repeat(5, auto);
    gap: 5px;
  }
  .portada {
    object-fit: cover;
    height: 290px;
    width: 290px;
  }
  .galeria {
    height: 290px;
    width: 290px;
  }
  .descripcion {
    justify-self: center;
    font-size: 0.8rem;
    width: 280px;
  }

  .titulo {
    font-size: 1.4rem;
  }
  .subtitulo {
    font-size: 0.7rem;
  }
  .info_del_proyecto {
    font-size: 0.8rem;
  }
}
